<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <script
      src="https://kit.fontawesome.com/316a162693.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/app.css" />
    <title>Vegan Debuggers</title>
  </head>
  <body>
    <div class="view-">
      <article class="section__photo--card view">
        <div class="section__photo--boxnamejob border-palette-<%=palette %>2">
          <h3
            class="
              section__photo--name
              js-photoFullName
              color-palette-<%=palette%>1
            "
          >
            <%=name %>
          </h3>
          <h4 class="section__photo--job js-photoJob"><%=job %></h4>
        </div>
        <div class="section__photo--img">
          <div
            class="section__photo--image js__profile-image"
            style="background-image: url(<%=photo%>)"
            alt="photograph"
          ></div>
        </div>
        <nav class="section__photo--nav">
          <ul class="section__photo--list">
            <li class="section__photo--link border-palette-<%=palette %>3">
              <a
                class="section__photo--icon js-photoPhone"
                href="tel:<%=phone %>"
                target="_blank"
                rel="noreferrer"
              >
                <i class="fas fa-mobile-alt color-palette-<%=palette %>1"></i>
              </a>
            </li>
            <li class="section__photo--link border-palette-<%=palette %>3">
              <a
                class="section__photo--icon js-photoEmail"
                href="mailto:<%=email %>"
                target="_blank"
                rel="noreferrer"
              >
                <i class="far fa-envelope color-palette-<%=palette %>1"></i>
              </a>
            </li>
            <li class="section__photo--link border-palette-<%=palette %>3">
              <a
                class="section__photo--icon js-photoLinkedin"
                href="https://linkedin.com/<%=linkedin %>"
                target="_blank"
                rel="noreferrer"
              >
                <i class="fab fa-linkedin-in color-palette-<%=palette %>1"></i>
              </a>
            </li>
            <li class="section__photo--link border-palette-<%=palette %>3">
              <a
                class="section__photo--icon js-photoGithub"
                href="https://github.com/<%=github %>"
                target="_blank"
                rel="noreferrer"
              >
                <i class="fab fa-github-alt color-palette-<%=palette %>1"></i>
              </a>
            </li>
          </ul>
        </nav>
      </article>
    </div>
  </body>
</html>
